<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body text-center">
                <h2 class="h2-responsive text-secondary mb-3">Newsletter</h2>
                <div class="">
                    Inscrivez-vous à la Newsletter pour ne rien rater de notre actualites.
                </div>

                <form action="{{ path('app_newsletter_subscribe') }}" method="POST" class="newsletter-form" id="newsletter-form">
                    <div class="">
                        <div class="md-form md-outline form-lg mb-2">
                            <input type="text" id="newsletter-firstName" class="form-control form-control-lg" name="firstName" placeholder="Votre prénom" />
                            <label for="newsletter-firstName"></label>
                        </div>
                        <div class="md-form md-outline form-lg">
                            <input type="email" id="newsletter-email" class="form-control form-control-lg" name="email" placeholder="Votre adresse email" />
                            <label for="newsletter-email"></label>
                        </div>

                        <input type="hidden" id="newsletter-token" name="_token" value="{{ csrf_token('newsletter') }}">
                        <div class="text-center">
                            <button title="S'inscrire" type="submit" class="btn btn-primary btn-block">S'inscrire <i class="fas fa-paper-plane ml-2"></i></button>
                        </div>
                    </div>
                </form>

                <div class="text-center mt-4 mb-2 font-weight-stone-500 text-secondary">Désinscription en un clic.</div>
            </div>
        </div>
    </div>
</div>

