body {
    font-weight: 400 !important;
    color: #4f4f4f !important;
    background-color: #fafafa !important;;
}

.card {
    font-weight: 400;
    border: 0;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.btn {
    margin: .375rem;
    color: #ffffff !important;
    text-transform: none;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    border: 0;
    border-radius: .125rem;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    padding: .64rem 1.94rem;
    font-size: .9rem;
    font-weight: 500 !important;
}

.btn i {
    color: #ffffff !important;
}

.btn:hover,
.btn:focus,
.btn:active {
    outline: 0;
    color: #ffffff !important;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
}

.btn.btn-block {
    margin: inherit
}

.btn .fas.right,
.btn .fab.right,
.btn .far.right {
    margin-left: .3rem
}

.btn .fas.left,
.btn .fab.left,
.btn .far.left {
    margin-right: .3rem
}

.btn.btn-lg {
    padding: 1rem 2.4rem;
    font-size: .94rem
}

.btn.btn-md {
    padding: .7rem 1.6rem;
    font-size: .7rem
}

.btn.btn-sm {
    padding: .5rem 1.6rem;
    font-size: .71rem !important;
}

.btn.disabled:hover,
.btn.disabled:focus,
.btn.disabled:active,
.btn:disabled:hover,
.btn:disabled:focus,
.btn:disabled:active {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.btn-secondary {
    color: #fff;
    background-color: #a6c !important
}

.btn-secondary:hover {
    color: #fff;
    background-color: #b579d2
}

.btn-secondary:focus,
.btn-secondary.focus {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
}

.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active {
    background-color: #739
}

.btn-secondary span {
    color: #ffffff !important;
}

.btn-danger {
    color: #fff;
    background-color: #ff3547 !important
}

.btn-danger:hover {
    color: #fff;
    background-color: #ff4f5e
}

.btn-danger:focus,
.btn-danger.focus {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
}

.btn-danger:focus,
.btn-danger:active,
.btn-danger.active {
    background-color: #ce0012
}

.btn-primary {
    color: #fff;
    background-color: #1266f1 !important
}

.btn-primary:hover {
    color: #fff;
    background-color: #1266f1
}

.btn-primary:focus,
.btn-primary.focus {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    background-color: #1266f1
}

.btn-success {
    color: #fff;
    background-color: #00c851 !important
}

.btn-success:hover {
    color: #fff;
    background-color: #00e25b
}

.btn-success:focus,
.btn-success.focus {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
}

.btn-success:focus,
.btn-success:active,
.btn-success.active {
    background-color: #006228
}

.btn-amber {
    color: #fff;
    background-color: #ffa000 !important
}

.btn-amber:hover {
    color: #fff;
    background-color: #ffaa1a
}

.btn-amber:focus,
.btn-amber.focus {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
}

.btn-amber:focus,
.btn-amber:active,
.btn-amber.active {
    background-color: #996000
}

.btn-link {
    color:#1266f1 !important;
    background-color:transparent !important;
    border: 2px solid #1266f1 !important;
    text-decoration:none !important;
    padding-right: 30px !important;
}

.btn-link:hover {
    color: #1266f1 !important;
    text-decoration: none !important;
}


.btn-link.focus, .btn-link:focus {
    text-decoration:var(--link-hover-decoration);
    box-shadow:none
}

.btn-link.disabled, .btn-link:disabled {
    color:#6c757d;
    pointer-events:none
}


input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="time"],
input[type="date"],
input[type="datetime-local"],
input[type="tel"],
input[type="number"],
input[type="search-md"],
input[type="search"] {
    background-color: #fff !important;
    height: 35px !important;
    font-size: .9rem !important;
}

input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=search-md]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
textarea:focus:not([readonly]),
input.select-dropdown:focus {
    border: 1px solid #1266f1 !important;
    -webkit-box-shadow: 0 0 10px #1266f1 !important;
    box-shadow: 0 0 10px #1266f1 !important;
}

/* Side bar */
@media (min-width:992px) {
    .main-sidebar {

    }
}

.main-sidebar {
    background-color: #fafafa !important;
    font-weight: 500 !important;
}

.main-sidebar .sidebar-menu li.treeview > a {
    height: 30px;
}

.main-sidebar .sidebar-menu li > a {
    height: 30px;
}

.main-sidebar .sidebar-menu li > a span {
    color: #1266f1 !important;
    font-size: .86rem !important;
    font-weight: 500 !important;
}

.main-sidebar .sidebar-menu li.active > a {
    -webkit-transition:all 0.3s linear;
    transition:all 0.3s linear;
}

.main-sidebar .sidebar-menu li > a i.fa {
    color: #1266f1 !important;
    filter: opacity(100%);
    font-size: .87rem !important;
}

.main-sidebar .sidebar-menu li a:hover {
    background-color: transparent;
    border-radius: 0;
    -webkit-transition:all 0.3s linear;
    transition:all 0.3s linear
}

.main-sidebar .sidebar-menu li ul li {
    padding-top: 6px !important;
}

.main-sidebar .sidebar-menu li ul li a span {
    color: #757575 !important;
    height: 40px !important;
    font-size: .8rem !important;
    font-weight: 500 !important;
}

.main-sidebar .sidebar-menu li ul li a span:hover,
.main-sidebar .sidebar-menu li ul li a span:focus,
.main-sidebar .sidebar-menu li ul li a span:active,
.main-sidebar .sidebar-menu li ul li a span.active {
    font-weight: 400 !important;
    color: rgba(0, 230, 118, 0.8) !important
}

.main-sidebar .sidebar-menu .treeview-menu li.active a span {
    color: rgba(0, 230, 118, 0.8) !important
}

.main-sidebar .sidebar-menu li.header {
    font-size: .84rem !important;
    color: #757575 !important;
    font-weight: 600 !important;
    margin-left: 3px;
    margin-top: 14px;
}

.list-pagination {
    font-weight: 500 !important;
    color: #1266f1  !important;
}

.list-pagination .page-item .page-link {
    border-radius: .125rem !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-left: 15px !important;
    border: 2px solid #1266F1 !important;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    -webkit-transition: all 0.2s linear !important;
    transition: all 0.2s linear !important;
}

.list-pagination .page-item.disabled .page-link {
    box-shadow: none !important;
    border: none !important;
}

.content-body .table.datagrid thead th a, .content-body .table.datagrid thead th span,
.content-body .table.datagrid thead th i {
    font-weight: 500 !important;
    color: #1266f1 !important;
}

.content-body .table.datagrid tbody td.actions button i {
    color: #1266f1 !important;
}

.content-body .table.datagrid tbody td.actions a i {
    color: #1266f1 !important;
}

.content-body .table.datagrid tbody td.actions a i:hover {
    color: #0d44f1 !important;
}

.content-body .table.datagrid tbody td.actions a i.fa-reply {
    color: #00c851 !important;
}

.content-body .table.datagrid tbody td.actions a i.fa-reply:hover,
.content-body .table.datagrid tbody td.actions a i.fa-reply:focus {
    color: #00953c !important;
}

.content-body .table.datagrid tbody td.actions a i.fa-share {
    color: #fb3 !important;
}

.content-body .table.datagrid tbody td.actions a i.fa-share:hover,
.content-body .table.datagrid tbody td.actions a i.fa-share:focus {
    color: #fa0 !important;
}

.content-body .table.datagrid tbody td.actions a i.fa-times {
    color: #ff3547 !important;
}

.content-body .table.datagrid tbody td.actions a i.fa-times:hover,
.content-body .table.datagrid tbody td.actions a i.fa-times:focus {
    color: #ff0219 !important;
}



.content-wrapper .content .content-header .content-header-title .title {
    font-size: 135% !important;
    font-weight: 500 !important;
    margin-bottom: 0 !important;
    line-height: normal !important;
    color: #1266f1 !important;
}

.content-wrapper .content .content-header .content-header-help {
    font-weight: 500 !important;
    margin-top: 2px !important;
}

.app-admin-advert-show .title {
    position: relative;
    bottom: 1.2rem;
    background-color: #ffffff;
    color: #4f4f4f;
}

.btn-pt {
    padding-top: 13px !important;
}


