<div class="form-row">
    <div class="col-12 col-md-6">
        {{ form_row(form.paypalKey) }}
    </div>
    <div class="col-12 col-md-6">
        {{ form_row(form.paypalSecret) }}
    </div>
</div>

